from micropython import const

# SSD1306 screen config
SSD1306_ADDRESS = const(0x3c)  # Address
SSD1306_SDA = const(4)  # SDA pin (GPIO number)
SSD1306_SCL = const(5)  # SCL pin (GPIO number)

# Display config
DISPLAY_WIDTH = const(128)  # Screen width (pixels)
DISPLAY_HEIGHT = const(64)  # Screen height (pixels)
DISPLAY_SCALE = const(4)  # Upscale render factor

# Wifi config
WIFI_SSID = 'some ssid'  # SSID
WIFI_PASSWORD = 'your password'  # Password

# LeNuage config
LENUAGE_BASE_URL = 'http://lenuage.io'  # Base LeNuage instance URL
LENUAGE_API_KEY = 'your-api-key'  # API key of your laboite object
