CONFIG = {
    # Screen configuration
    "ssd1306": {
        "address": 0x3c, # Address
        "sda": 2, # SDA pin (GPIO number)
        "scl": 1, # SCL pin (GPIO number)
        "width": 128, # Screen width
        "height": 64 # Screen height
    },
    "wifi": {
        "ssid": "ssid", # Wifi SSID
        "password": "password" # Wifi password
    }
}
